images/
smallertest.py
__pycache__/
errors.txt
update.log
device_settings.json
/wifi_portal/errors.txt
/wifi_portal/hotspot_config.json
/wifi_portal/current_version.txt
.env
gcs-service-account.json
.DS_Store
