/* Apply to all devices */
body {
  font-size: 1.5em;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  padding: 10px;
}

/* Apply to screens smaller than 600px (typical breakpoint for mobile devices) */
@media only screen and (max-width: 600px) {
  input[type="text"],
  input[type="password"],
  select {
    width: 100%;
  }
}
