<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiFi Setup</title>
</head>
<body>
    <h1>Wifi setup</h1>

    <!-- current connection status -->
    <div id="status">
        <p>Status: {{ internet_status }} 
           {% if internet_status == 'online' %}
               (Connected to {{ ssid }})
           {% endif %}
        </p>
        <button id="refresh-button">Refresh</button>
    </div>

    <!-- connect to a new wifi network -->
    <form action="/submit" method="post">
      <label for="ssid">Choose a WiFi network:</label>
      <select name="ssid" id="ssid">
        {% for ssid in ssids_list %}
        <option value="{{ ssid }}">{{ ssid }}</option>
        {% endfor %}
      </select>
      <p />
      <label for="password"
        >Password: <input type="password" name="password" id="password"
      /></label>
      <p>
        <input type="checkbox" id="show-password" /> <span>show password</span>
      </p>
      <input type="submit" value="Connect" />
    </form>

    <p id="connect-result"></p>

    <!-- for hidden networks -->
    <h2>Network not listed? Add here</h2>
    <form id="manual-form" action="/save_and_connect" method="post">
      <label for="manual-ssid">SSID:</label>
      <input type="text" name="manual_ssid" id="manual-ssid" value="{{ manual_ssid }}" />
      <p />
      <label for="manual-password">Password: <input type="password" name="manual_password" id="manual-password">
      <p>
        <input type="checkbox" id="show-manual-password" /> <span>show password</span>
      </p>
      <input type="submit" value="Save and Connect" />
    </form>


    <p>{{ version }}</p>
    <script>

      // Function to check connection status and display at top of page
      function updateStatus() {
          fetch("/status")
          .then(response => response.json())
          .then(data => {
               const statusDiv = document.getElementById("status");
               if (data.status === "online") {
                    statusDiv.innerHTML = `<p style="color: green;">Status: Online (Connected to ${data.ssid})</p>`;
               } else {
                    statusDiv.innerHTML = `<p style="color: red;">Status: Offline</p>`;
               }
          })
         .catch(error => {
              const statusDiv = document.getElementById("status");
              statusDiv.innerHTML = `<p style="color: red;">Error: ${error.message}</p>`;
          });
      }


      // Function to handle form submission
      function handleFormSubmit(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            fetch("/submit", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const resultDiv = document.getElementById("connect-result");
                if (data.status === "success") {
                    resultDiv.innerHTML = `<p style="color: green;">${data.message}</p>`;
                } else {
                    resultDiv.innerHTML = `<p style="color: red;">${data.message}</p>`;
                }
            })
            .catch(error => {
                const resultDiv = document.getElementById("connect-result");
                resultDiv.innerHTML = `<p style="color: red;">Error: ${error.message}</p>`;
            });
        }

      // call the functions when DOM is loaded
      document.addEventListener("DOMContentLoaded", function() {
            const form = document.querySelector("form");
            form.addEventListener("submit", handleFormSubmit);


	    // Show/hide password toggle for password field
            document.getElementById("show-password").addEventListener("change", function () {
                var passwordInput = document.getElementById("password");
                passwordInput.type = this.checked ? "text" : "password";
            });	


	    // Show/hide password toggle for manual password field
            document.getElementById("show-manual-password").addEventListener("change", function () {
                var passwordInput = document.getElementById("manual-password");
                passwordInput.type = this.checked ? "text" : "password";
            });

            // Check connection status again when you click refresh button
            document.getElementById("refresh-button").addEventListener("click", updateStatus);

      });      
    </script>
</body>
</html>
